{{ partial "header" . }}

<main>

<div style="width: 50%; left: 25%; position: relative;">
	
	<h3><center>How do I play Sudoku Farm?</center></h3>
	Winning requires completing a standard sudoku puzzle (with <a href="/games/pictures">pictures</a> instead of numbers) while not running out of any resources.<br />
	<br />Each of the nine plots of land produce and consume different resources to provide for your family. Learn what to grow, build, or raise to increase each resource. Then simply track which resources are being depleted while you complete the sudoku.<br />
	<br />Sudoku Farm is simple enough that if you just <a href="">download and start playing</a> you will get the hang of it in no time, but hundreds of levels and 3 game types will keep you thinking and planning for many hours. If you enjoy puzzle games and/or strategy games then you'll probably have a lot of fun.<br />
	<br />We have tutorials to help you learn about the <a href="/games/resources">six resources</a>, nine plots (<a href="/games/plots">basic</a>, <a href="/games/plotdetails">detail</a>), or the three game types (<a href="/games/familyfarm">Family Farm</a>, <a href="/games/croprotation">Crop Rotation</a>, <a href="/games/populationfrenzy">Population Frenzy</a>). Enjoy!
	<h3><center>What if I don't know how to sudoku?</center></h3>
	We have a nice little <a href="/games/sudoku">tutorial here</a>. Or google how to sudoku. You don't need to master advanced sudoku solving techniques to play Sudoku Farm, but you do need to be comfortable with the basics.
	
	<div style="display: flex; flex-direction: row;">
		<span style="flex: 1;">
			<h3><center>What are the resources?</center></h3>
			<ul>
			<li>Food</li>
			<li>Water</li>
			<li>Feed</li>
			<li>Manure</li>
			<li>Firewood</li>
			<li>Clothes</li>
			<li><a href="/games/resources">Learn More</a></li>
			</ul>
		</span>
		<span style="flex: 1;">
			<h3><center>What are the plots?</center></h3>
			<ul>
			<li>Cows</li>
			<li>Chickens</li>
			<li>Sheep</li>
			<li>Well</li>
			<li>Forest</li>
			<li>Apples</li>
			<li>Beans</li>
			<li>Wheat</li>
			<li>Corn</li>
			<li><a href="/games/plots">Learn More</a></li>
			</ul>
		</span>
	</div>
	
</div>
</main>


{{ partial "footer" . }}