
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}</title>
<link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
<meta name="description" content="{{ .Params.description }}"/>
<link rel="stylesheet" href="/css/sudokucss.css">
<style>

{{ range $i := .Params.num19 }}
	{{ range $rowI := $i.arr1 }}
		{{ range $colI := $i.arr2 }}
			{{ if (eq (index (index $.Params.puzzle (sub $rowI 1)) (sub $colI 1)) $i.idx) }}
				.row{{ $rowI }}{{ $i.idx }}.col{{ $colI }}{{ $i.idx }} + .check{{ $i.idx }} {z-index: 250 !important;color: black;}
				.grow{{ $rowI }}{{ $i.idx }}.gcol{{ $colI }}{{ $i.idx }} + .gcheck{{ $i.idx }} {z-index: 260 !important;color: black;background: white !important;}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

</style>

</head>
<body>
	<div style="position: relative; left: 5%;">


		{{ range $i := .Params.num19 }}
		<label class="container">
		  <input type="radio" checked="checked" name="radio" style="display:none;" class="radioB" accesskey="{{ $i.idx }}">
		  <span class="cmark{{ $i.idx }}">{{ $i.idx }}</span>
  
		  <span class="sudoku{{ $i.idx }}">
		  {{ range $rowI := $i.arr1 }}
			{{ range $colI := $i.arr2 }}<input type="checkbox" style="display:none;" class="row{{ $rowI }}{{ $i.idx }} col{{ $colI }}{{ $i.idx }} box{{add (add (div (sub $colI 1) 3) (mul 3 (div (sub $rowI 1) 3))) 1 }}{{ $i.idx }}" id="cell{{ $i.idx }}{{ $rowI }}{{ $colI }}" {{ if (eq (index (index $.Params.puzzle (sub $rowI 1)) (sub $colI 1)) $i.idx) }}checked{{ end }}><label for="cell{{ $i.idx }}{{ $rowI }}{{ $colI }}" class="col{{ $colI }} row{{ $rowI }} check{{ $i.idx }}">{{ $i.idx }}</label>{{ end }}
			<br />
		  {{ end }}
		  {{ range $rowI := $i.arr1 }}
			{{ range $colI := $i.arr2 }}<input type="checkbox" style="display:none;" class="grow{{ $rowI }}{{ $i.idx }} gcol{{ $colI }}{{ $i.idx }} gbox{{add (add (div (sub $colI 1) 3) (mul 3 (div (sub $rowI 1) 3))) 1}}{{ $i.idx }}" id="gcell{{ $i.idx }}{{ $rowI }}{{ $colI }}"><label for="gcell{{ $i.idx }}{{ $rowI }}{{ $colI }}" class="col{{ $colI }} row{{ $rowI }} gcheck{{ $i.idx }}">{{ $i.idx }}</label>{{ end }}
			<br />
		  {{ end }}
		  <span class="blackout{{ $i.idx }}">{{ $i.idx }}</span>

		  <span class="winner" style="position:absolute;top:250px;left:5px;z-index:10;width:200px;height:20px;background: white;"></span>
		  <span class="winmessage" style="position:absolute;top:250px;left:5px;z-index:1;width:200px;height:20px;background: white;">Great job, you beat the game!</span>

		  </span>
		</label>
		{{ end }}


	</div>
</body>

{{ partial "footer.html" . }}