
<div>
	Games: <input class="dropdown-input" id="gamesInput" />
	<button class="dropdown-btn" type="button" id="gamesBtn"><span class="caret"></span></button><br />
	vs. Batter: <input class="dropdown-input" id="namesInput" />
	<button class="dropdown-btn" type="button" id="namesBtn"><span class="caret"></span></button><br />
	<div class="text">
		<div class="textThird">
			Outs:<br />
			<input type="checkbox" id="outs0" onchange="newSituation()" checked>0 Outs</input><br />
			<input type="checkbox" id="outs1" onchange="newSituation()" checked>1 Out</input><br />
			<input type="checkbox" id="outs2" onchange="newSituation()" checked>2 Outs</input>
		</div>
		<div class="textThird">
			Runners:<br />
			<input type="checkbox" id="runners0" onchange="newSituation()" checked><img src="/images/bases0.png" width="32px"></input><br />
			<input type="checkbox" id="runners1" onchange="newSituation()" checked><img src="/images/bases1.png" width="32px"></input><br />
			<input type="checkbox" id="runners2" onchange="newSituation()" checked><img src="/images/bases2.png" width="32px"></input><br />
			<input type="checkbox" id="runners3" onchange="newSituation()" checked><img src="/images/bases3.png" width="32px"></input><br />
			<input type="checkbox" id="runners4" onchange="newSituation()" checked><img src="/images/bases4.png" width="32px"></input><br />
			<input type="checkbox" id="runners5" onchange="newSituation()" checked><img src="/images/bases5.png" width="32px"></input><br />
			<input type="checkbox" id="runners6" onchange="newSituation()" checked><img src="/images/bases6.png" width="32px"></input><br />
			<input type="checkbox" id="runners7" onchange="newSituation()" checked><img src="/images/bases7.png" width="32px"></input>
		</div>
		<div class="textThird">
			Innings:<br />
			<input type="checkbox" id="inning1" onchange="newSituation()" checked>1st</input><br />
			<input type="checkbox" id="inning2" onchange="newSituation()" checked>2nd</input><br />
			<input type="checkbox" id="inning3" onchange="newSituation()" checked>3rd</input><br />
			<input type="checkbox" id="inning4" onchange="newSituation()" checked>4th</input><br />
			<input type="checkbox" id="inning5" onchange="newSituation()" checked>5th</input><br />
			<input type="checkbox" id="inning6" onchange="newSituation()" checked>6th</input><br />
			<input type="checkbox" id="inning7" onchange="newSituation()" checked>7th</input><br />
			<input type="checkbox" id="inning8" onchange="newSituation()" checked>8th</input><br />
			<input type="checkbox" id="inning9" onchange="newSituation()" checked>9th</input><br />
			<input type="checkbox" id="inning0" onchange="newSituation()" checked>Ex.</input>
		</div>
	</div>
</div>

<script>
var gInput = document.getElementById("gamesInput");

// Show label but insert value into the input:
var comboplete1 = new Awesomplete(gInput, {
	minChars: 0,
	maxItems: 20,
	autoFirst: true,
	list: [{{ range $game := .Params.allGames}}
										[{{ $game.fullname }}, {{ $game.gameid }} ],
									{{ end }}],
});
Awesomplete.$.bind(gInput, { "awesomplete-selectcomplete": chggInput });

Awesomplete.$('#gamesBtn').addEventListener("click", function() {
	if (comboplete1.ul.childNodes.length === 0) {
		comboplete1.minChars = 0;
		comboplete1.evaluate();
	}
	else if (comboplete1.ul.hasAttribute('hidden')) {
		comboplete1.open();
	}
	else {
		comboplete1.close();
	}
});
var nInput = document.getElementById("namesInput");

var comboplete2 = new Awesomplete(nInput, {
	minChars: 0,
	maxItems: 20,
	autoFirst: true,
	list: [{{ range $name := .Params.allBid}}
										[{{ $name.fullname }}, {{ $name.bid }} ],
									{{ end }}],
});
Awesomplete.$.bind(nInput, { "awesomplete-selectcomplete": chgnInput });

Awesomplete.$('#namesBtn').addEventListener("click", function() {
	if (comboplete2.ul.childNodes.length === 0) {
		comboplete2.minChars = 0;
		comboplete2.evaluate();
	}
	else if (comboplete2.ul.hasAttribute('hidden')) {
		comboplete2.open();
	}
	else {
		comboplete2.close();
	}
});
function newSituation() {
	var isSituation = false;
	var outs = "";
	for (i=0;i<3;i++) {
		if (document.getElementById("outs"+i.toString()).checked) {
			outs += i.toString();
		}
	}
	var runners = "";
	for (i=0;i<8;i++) {
		if (document.getElementById("runners"+i.toString()).checked) {
			runners += i.toString();
		}
	}
	var innings = "";
	for (i=0;i<10;i++) {
		if (document.getElementById("inning"+i.toString()).checked) {
			innings += i.toString();
		}
	}
	if (runners != "01234567") { isSituation = true;}
	if (outs != "012") { isSituation = true;}
	if (innings != "0123456789") { isSituation = true;}
	if (isSituation){
		runQuery("outs="+outs+"&runners="+runners+"&innings="+innings);
	}
}
function chggInput() {
	runQuery("game="+document.getElementById('gamesInput').value);
}
function chgnInput() {
	runQuery("bid="+document.getElementById("namesInput").value);
}

var query = window.location.search.substring(1);
var allParams = query.split('&');
var gameID = "0";
var outs = "012";
var runners = "01234567";
var batterID = "";
var innings = "0123456789";
for (i=0;i<allParams.length;i++){
	var twoParts = allParams[i].split('=');
	if (twoParts[0] == "outs") {
		outs = twoParts[1];
	}
	else if (twoParts[0] == "runners") {
		runners = twoParts[1];
	}
	else if (twoParts[0] == "innings") {
		innings = twoParts[1];
	}	
}
for (i=0;i<8;i++){
	if (runners.indexOf(i.toString())>-1){
		document.getElementById("runners"+i.toString()).checked = true;
	}
	else {
		document.getElementById("runners"+i.toString()).checked = false;
	}
}
for (i=0;i<10;i++){
	if (innings.indexOf(i.toString())>-1){
		document.getElementById("inning"+i.toString()).checked = true;
	}
	else {
		document.getElementById("inning"+i.toString()).checked = false;
	}
}
for (i=0;i<3;i++){
	if (outs.indexOf(i.toString())>-1){
		document.getElementById("outs"+i.toString()).checked = true;
	}
	else {
		document.getElementById("outs"+i.toString()).checked = false;
	}
}
</script>
