{{ partial "header" . }}

<main>

    <div style="width:60%; left: 20%; position: relative;">
		<h1><center>What is TripleLog?</center></h1>
		
		<ul>
        <li><h2><a href="/games/sudokupage">Learn how</a> to play Sudoku Farm or download it soon!</h2></li>

        <li><h2>Analyze <a href="/sports/pitchcharts/pitchcharts">pitch charts</a> for your favorite pitcher.</h2></li>
        
        <li><h2>Learn some <a href="/math/trigonometry/firstquadrant">trigonometry</a>.</h2></li>
        </ul>

    </div>

</main>

<div style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: gray; text-align: center;">
	&copy; 2018 Triplelog, LLC <a href="/about/privacy" style="color: white;">Privacy Policy</a> <a href="mailto:contact@triplelog.com" style="color: white;">Contact Us</a>
</div>
{{ partial "footer" . }}